node_modules
.env
.env.*
.secret

# OS
.DS_Store

# IDE
.vscode/
.idea/

# Logs
*.log
npm-debug.log*
yarn-error.log*

# Build outputs
frontend/.next
frontend/out
frontend/.env.local
frontend/.env.*.local
contracts/artifacts
contracts/cache
contracts/typechain-types
contracts/dist
*.tsbuildinfo

# Testing
coverage
coverage.json

# Deployment
.vercel
